@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}

hr {
    margin: 0;
    padding: 0;
    border-width: 0px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

nav, button {
    text-transform: uppercase;
}

button {
    font-family: inherit;
    border: 0;
    font-size: 1em;
    border: 1px solid;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;

    .left-nav{
        display: inline;
        list-style: none;
        .logo {
            background: url('../images/logo.svg');
            background-repeat: no-repeat;
            height: 4em;
            width: 8em;
            float: left;
            margin-top: 10px;
        }
        .search {
            background: url('../images/search.svg');
            height: 8em;
            width: 12em;
            background-repeat: no-repeat;
            margin-left: 7em;
            margin-top: 8px;
        }
    }

    nav {
        color: #0045e1;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            
            li {
                display: inline-block;
                padding: 10px 20px;
            }
        }
        button {
            border-color: #0045e1;
            border-width: .125em;
            color: #0045e1;
            height: 2.5em;
            width: 7.5em;
            background-color: #0043e100;
            font-weight: 600;
        }
    }
}

section.hero {
    background-color: #EFEFEF;
    height: 100vh;
    z-index: 9;

    .hero-content {
        margin-left: 6.8%;
        max-width: 350px;
        position: absolute;
        top: 30%;
    }

    .side-line {
        width: 4.2%;
        border-width: .5px;
        border-color: #00000067;
        position: absolute;
        top: 35%;
    }

    h1 {
        font-family: inherit;
        font-size: 2.4em;
        word-wrap: break-word;
        overflow: hidden;
        line-height: 1.5em;
        margin-bottom: .5em;
        z-index: 1;
    }

    p {
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;
        line-height: 1.5em;
        word-spacing: .2em;
        width: 19em;
        margin-bottom: 2em;
        color: #524D4D;
    }

    .gs-btn {
        background-position: center;
        background-color: #0045E1;
        height: 2.5em;
        width: 9em;
        border-color: #0045e1;
        color: white;
        padding:10px;
        margin-right: 15px;
        font-weight: 600;
        font-size: 12x;
    }

    .play-btn {
        background: url('../images/Play.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 2.5em;
        width: 2.8em;
        border-color: #0045e1;
        padding: 10px;
    }
    
    .socials {
        display: flex;
        margin-top: 30%;
        div {
        height: 2em;
        width: 2.3em;
        background-repeat: no-repeat;
        }
        .twitter {
            background: url('../images/twitter.svg');
            background-repeat: no-repeat;
            margin: 0 5px 0 0;
        }
        .facebook {
            background: url('../images/facebook.svg');
            background-repeat: no-repeat;
        }
        .instagram {
            background: url('../images/instagram.svg');
            background-repeat: no-repeat;
        }

        hr {
            width: 45%;
            border-width: .25px;
            border-color: #0043e19f;
            position: absolute;
            top: 94.25%;
            left: 35%;
        }
    }

    .phone {
        display: flex;
        overflow: hidden;
        height: 100vh;
        align-items: flex-end;
        svg {
            position: absolute;
            right: 18%;
            width: 40%;
            height: auto;
        }
    }
    
}

.lines {
    hr {
        width: 100%;
        border-width: 0.1px;
        transform: rotate(90deg);
        border-color: #7070702a;
        position: fixed;
        top: 0;
    }
    .l1{
        left: 460px;
    }
    .l2{
        left: 310px;
    }
    .l3{
        left: 160px;
    }
    .l4{
        left: 10px;
    }
    .l5{
        left: -140px;
    }
    .l6{
        left: -290px;
    }
    .l7{
        left: -440px;
    }
}