@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  margin: 0;
  padding: 0;
  border-width: 0px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

nav, button {
  text-transform: uppercase;
}

button {
  font-family: inherit;
  border: 0;
  font-size: 1em;
  border: 1px solid;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  margin: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

header .left-nav {
  display: inline;
  list-style: none;
}

header .left-nav .logo {
  background: url("../images/logo.svg");
  background-repeat: no-repeat;
  height: 4em;
  width: 8em;
  float: left;
  margin-top: 10px;
}

header .left-nav .search {
  background: url("../images/search.svg");
  height: 8em;
  width: 12em;
  background-repeat: no-repeat;
  margin-left: 7em;
  margin-top: 8px;
}

header nav {
  color: #0045e1;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

header nav button {
  border-color: #0045e1;
  border-width: .125em;
  color: #0045e1;
  height: 2.5em;
  width: 7.5em;
  background-color: #0043e100;
  font-weight: 600;
}

section.hero {
  background-color: #EFEFEF;
  height: 100vh;
}

section.hero .hero-content {
  margin-left: 6.8%;
  max-width: 350px;
  position: absolute;
  top: 30%;
}

section.hero .side-line {
  width: 4.2%;
  border-width: .5px;
  border-color: #00000067;
  position: absolute;
  top: 35%;
}

section.hero h1 {
  font-family: inherit;
  font-size: 2.4em;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5em;
  margin-bottom: .5em;
}

section.hero p {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
  line-height: 1.5em;
  word-spacing: .2em;
  width: 19em;
  margin-bottom: 2em;
  color: #524D4D;
}

section.hero .gs-btn {
  background-position: center;
  background-color: #0045E1;
  height: 2.5em;
  width: 9em;
  border-color: #0045e1;
  color: white;
  padding: 10px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 12x;
  position: relative;
  z-index: 1;
}

section.hero .play-btn {
  background: url("../images/Play.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5em;
  width: 2.8em;
  border-color: #0045e1;
  padding: 10px;
}

section.hero .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30%;
}

section.hero .socials div {
  height: 2em;
  width: 2.3em;
  background-repeat: no-repeat;
}

section.hero .socials .twitter {
  background: url("../images/twitter.svg");
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
}

section.hero .socials .facebook {
  background: url("../images/facebook.svg");
  background-repeat: no-repeat;
}

section.hero .socials .instagram {
  background: url("../images/instagram.svg");
  background-repeat: no-repeat;
}

section.hero .socials hr {
  width: 45%;
  border-width: .25px;
  border-color: #0043e19f;
  position: absolute;
  top: 94.25%;
  left: 35%;
}

section.hero .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.hero .phone svg {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 38.9%;
  height: auto;
  z-index: 1;
}

section.hero .changer hr {
  width: 25px;
  border-width: 1px;
  border-color: #0043e165;
  position: absolute;
  right: 7.8%;
}

section.hero .changer .r1 {
  width: 45px;
  top: 35%;
  border-color: #0045e1;
}

section.hero .changer .r2 {
  top: 42%;
}

section.hero .changer .r3 {
  top: 49%;
}

section.hero .changer .r4 {
  top: 56%;
}

section.hero .changer .r5 {
  top: 63%;
}

section.hero .changer .r6 {
  top: 70%;
}

section.hero .chat {
  background-repeat: no-repeat;
  position: absolute;
  right: 10%;
  top: 85%;
  height: .1em;
  width: .3em;
  z-index: 1;
}

.lines hr {
  width: 110%;
  border-width: 0.1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-color: #7070702a;
  position: fixed;
  top: 0;
}

.lines .l1 {
  left: 460px;
}

.lines .l2 {
  left: 310px;
}

.lines .l3 {
  left: 160px;
}

.lines .l4 {
  left: 10px;
}

.lines .l5 {
  left: -140px;
}

.lines .l6 {
  left: -290px;
}

.lines .l7 {
  left: -440px;
}
/*# sourceMappingURL=style.css.map */