@font-face {
  font-family: 'palatino';
  src: local("palatino"), url("../fonts/pala.woff") format("linotype");
}

@font-face {
  font-family: 'Segoe-ui-regular';
  src: local("Segoe-ui-regular"), url("../fonts/SegoePro-Regular.ttf");
}

@font-face {
  font-family: 'Segoe-ui';
  src: local("Segoe-ui-semibold"), url("../fonts/SegoePro-Semibold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe-ui-regular';
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 769px) {
  body {
    background: url("../images/mobile-bg.svg");
    overflow-x: hidden;
    height: auto;
    width: 100%;
    border-color: rgba(255, 255, 255, 0);
  }
  body section.mobile {
    display: block;
  }
}

img, embed, object, video {
  max-width: 100%;
}

hr {
  margin: 0;
  padding: 0;
  border-width: 0px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  text-shadow: 2.5px 3px #5353535e;
}

nav, button {
  text-transform: uppercase;
}

button {
  font-family: inherit;
  border: 0;
  font-size: 1em;
  border: 1px solid;
}

@media screen and (max-width: 769px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
  header .left-nav {
    display: inline;
    list-style: none;
  }
  header .left-nav .logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    height: 4em;
    width: 9em;
    float: left;
    margin-top: 10px;
  }
  header div {
    width: 250px;
  }
  header nav {
    display: none;
  }
  header #menu {
    background: url("../images/menu.svg");
    height: 8em;
    width: 2em;
    background-repeat: no-repeat;
    margin-top: 20px;
    position: relative;
    right: 0;
  }
}

@media screen and (min-width: 770px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 40px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
  header div {
    max-width: 50%;
  }
  header .left-nav {
    display: inline;
    list-style: none;
  }
  header .left-nav .logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    height: 4em;
    width: 9em;
    float: left;
    margin-top: 1%;
  }
  header nav {
    color: #ffffff8f;
    position: absolute;
    left: 35%;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }
}

section.mobile {
  display: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  border-left: 1px solid #e0e0e000;
  -webkit-box-shadow: -200px 5px 100px #00000033;
          box-shadow: -200px 5px 100px #00000033;
  z-index: 20;
  background-color: #808080;
}

section.mobile .menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}

section.mobile ul {
  margin: 0;
  padding: 50px 0;
  list-style: none;
  max-width: 10000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

section.mobile ul li {
  font-size: 25px;
  text-align: center;
  line-height: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  max-width: 10000px;
  padding: 10px 20px;
}

section.mobile .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 32%;
}

section.mobile .socials div {
  height: 3em;
  width: 3.5em;
  background-repeat: no-repeat;
}

section.mobile .socials .twitter {
  background: url("../images/twitter.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

section.mobile .socials .facebook {
  background: url("../images/facebook.svg");
  background-repeat: no-repeat;
}

section.mobile .socials .instagram {
  background: url("../images/instagram.svg");
  background-repeat: no-repeat;
}

section.mobile .toggle {
  position: absolute;
  top: 7.5%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.5em;
  width: 2.5em;
  background-image: url("../images/x.svg");
  cursor: pointer;
}

section.mobile button {
  border-color: #e1004b00;
  border-width: .125em;
  border-radius: 5px;
  color: #000000;
  height: 2.5em;
  width: 7.5em;
  background-color: #ffffff;
  font-weight: 600;
}

section.hero {
  overflow: hidden;
}

@media screen and (max-width: 699px) {
  section.hero {
    position: absolute;
    top: 25%;
    color: white;
  }
  section.hero .hero-content {
    margin: 0 10%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  section.hero .hero-content h1 {
    font-family: "palatino";
    font-size: 200%;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: .75em;
  }
  section.hero .hero-content p {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    word-spacing: .2em;
    margin-bottom: 2em;
    color: #ffffff;
  }
  section.hero .hero-content .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10% 20%;
  }
  section.hero .hero-content .buttons .gs-btn {
    background-position: center;
    background-color: white;
    height: 2.5em;
    width: 7.5em;
    border-color: #ffffff00;
    border-radius: 25px;
    color: #404040;
    margin-right: 15px;
    font-weight: 600;
    font-size: 12x;
    z-index: 1;
    margin-top: 5px;
  }
  section.hero .hero-content .buttons .play-btn {
    background: url("../images/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 3.2em;
    width: 3.5em;
    border-color: rgba(150, 150, 150, 0);
  }
  section.hero .hero-content .status {
    background-color: #00000073;
    max-width: 125px;
    color: white;
    text-align: center;
    margin: 0 30%;
    border-radius: 25px;
  }
  section.hero .phone {
    margin: 0 10%;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  section.hero .phone svg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 700px) {
  section.hero {
    background: url(../images/signet-bg.svg);
    height: 100vh;
  }
  section.hero .hero-content {
    margin-left: 9.5%;
    max-width: 450px;
    position: absolute;
    top: 20%;
    z-index: 9;
    overflow: hidden;
  }
  section.hero .background {
    overflow: hidden;
    background: url("../images/indicator1.png");
    background-repeat: no-repeat;
    height: 120px;
    width: 800px;
    position: absolute;
    bottom: 2.5%;
    right: 10%;
    overflow: hidden;
    opacity: 0.69;
  }
  section.hero .status {
    background-color: #00000073;
    max-width: 125px;
    color: white;
    text-align: center;
    padding: 9px;
    border-radius: 25px;
  }
  section.hero h1 {
    font-family: "palatino";
    font-size: 3.5em;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5em;
    margin-bottom: .5em;
    color: white;
    width: 10em;
  }
  section.hero p {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5em;
    word-spacing: .2em;
    width: 19em;
    margin-bottom: 2em;
    color: #ffffff8f;
  }
  section.hero .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  section.hero .buttons .gs-btn {
    background-position: center;
    background-color: white;
    height: 3em;
    width: 7.5em;
    border-color: #ffffff00;
    border-radius: 25px;
    color: #404040;
    margin-right: 15px;
    font-weight: 600;
    font-size: 12x;
    z-index: 1;
    margin-top: 5px;
  }
  section.hero .buttons .play-btn {
    background: url("../images/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 3.2em;
    width: 3.2em;
    border-color: rgba(150, 150, 150, 0);
  }
  section.hero .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35%;
  }
}

@media screen and (min-width: 700px) and (min-width: 700px) and (max-width: 900px) {
  section.hero .socials {
    margin-top: 10%;
  }
}

@media screen and (min-width: 700px) {
  section.hero .socials div {
    height: 2em;
    width: 2.3em;
    background-repeat: no-repeat;
  }
  section.hero .socials .twitter {
    background: url("../images/twitter.svg");
    background-repeat: no-repeat;
    margin: 0 5px 0 0;
  }
  section.hero .socials .facebook {
    background: url("../images/facebook.svg");
    background-repeat: no-repeat;
  }
  section.hero .socials .instagram {
    background: url("../images/instagram.svg");
    background-repeat: no-repeat;
  }
  section.hero .phone {
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 1;
  }
  section.hero .phone img {
    width: 50%;
    height: auto;
    position: absolute;
    right: 170px;
    bottom: 120px;
  }
}
/*# sourceMappingURL=style.css.map */