@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap");
body {
  background: url("../images/dd_bg.svg");
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 770px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 769px) {
  body {
    background: url("../images/dd_bg.svg");
  }
  body .lines {
    display: none;
  }
  body section.mobile {
    display: block;
  }
}

img, embed, object, video {
  max-width: 100%;
}

hr {
  margin: 0;
  padding: 0;
  border-width: 0px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  border: 0;
  font-size: 1em;
  border: 1px solid;
}

@media screen and (max-width: 769px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
  header .left-nav {
    display: inline;
    list-style: none;
  }
  header .left-nav .logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    height: 4em;
    width: 8em;
    float: left;
    margin-top: 10px;
  }
  header .left-nav .search {
    background: url("../images/search.svg");
    height: 8em;
    width: 2em;
    background-repeat: no-repeat;
    margin-left: 7em;
    margin-top: 8px;
  }
  header div {
    width: 250px;
  }
  header nav {
    display: none;
  }
  header #menu {
    background: url("../images/menu.svg");
    height: 8em;
    width: 2em;
    background-repeat: no-repeat;
    margin-top: 20px;
    position: relative;
    right: 0;
  }
}

@media screen and (min-width: 770px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
  header div {
    max-width: 50%;
  }
  header .left-nav {
    display: inline;
    list-style: none;
  }
  header .left-nav .logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    height: 4em;
    width: 8em;
    float: left;
    margin-top: 1%;
  }
  header nav {
    color: #ffffff;
    position: absolute;
    right: 1.5%;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }
  header nav button {
    background-image: url("../images/signup.svg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 3.25em;
    border: none;
    width: 9em;
    font-weight: 600;
  }
  header nav button .text {
    padding-bottom: 100px;
  }
}

section.mobile {
  display: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  border-left: 1px solid #27137e;
  -webkit-box-shadow: -200px 5px 100px #27137e;
          box-shadow: -200px 5px 100px #27137e;
  z-index: 20;
  background-color: #27137e;
}

section.mobile .menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}

section.mobile ul {
  margin: 0;
  padding: 50px 0;
  list-style: none;
  max-width: 10000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

section.mobile ul li {
  font-size: 25px;
  text-align: center;
  line-height: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  max-width: 10000px;
  padding: 20px 25px;
  border-width: 0.0225px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.322);
}

section.mobile .toggle {
  position: absolute;
  top: 7.5%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.5em;
  width: 2.5em;
  background-image: url("../images/x.svg");
  cursor: pointer;
}

section.mobile .button {
  background-image: url("../images/signup.svg");
  background-position: center;
  height: 2.5em;
  width: 150px;
  border-color: rgba(245, 222, 179, 0);
  border-radius: 25px;
  color: white;
  padding: 17px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 769px) {
  .mobile-top {
    /*background-image: url("../images/mobile-top.svg");*/
    margin: 0;
    padding: 0;
    height: 20em;
    width: 40em;
    position: fixed;
    top: -20%;
    left: -20%;
  }
}

@media screen and (min-width: 770px) {
  .mobile-top {
    display: none;
  }
}

section.hero {
  overflow: hidden;
}

@media screen and (max-width: 769px) {
  section.hero {
    position: absolute;
    top: 25%;
  }
  section.hero .side-line1 {
    width: 30%;
    border-width: .25px;
    border-color: #ffffff;
    position: absolute;
    top: 2%;
    left: 0;
  }
  section.hero .side-line2 {
    width: 30%;
    border-width: 1px;
    border-color: #ffffff;
    position: absolute;
    top: 2%;
    right: 0;
  }
  section.hero .date {
    margin: 2.5% 35.1%;
    color: white;
  }
  section.hero .hero-content {
    margin: 15% 10%;
    max-width: 100%;
    text-align: center;
  }
  section.hero .hero-content h1 {
    font-family: inherit;
    font-weight: 400;
    font-size: 300%;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1em;
    margin-bottom: .5em;
    letter-spacing: 5px;
    color: white;
  }
  section.hero .hero-content p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    word-spacing: .1em;
    margin-bottom: 2em;
    color: #ffffff;
  }
  section.hero .hero-content .gs-btn {
    background-position: center;
    background-image: url(../images/gs_btn.svg);
    height: 2.5em;
    width: 10em;
    border-color: rgba(245, 222, 179, 0);
    border-radius: 25px;
    color: white;
    padding: 7px;
    text-transform: none;
    margin-right: 15px;
    font-weight: 400;
    font-size: 12x;
    position: relative;
    z-index: 1;
  }
  section.hero .hero-content .play-btn {
    background: url("../images/Play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5em;
    width: 2.8em;
    border-color: #0045e1;
    padding: 10px;
  }
  section.hero .content {
    margin: 0 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  section.hero .content img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 1.5em;
    -webkit-box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.411);
            box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.411);
  }
  section.hero .content .img {
    padding-bottom: .25em;
  }
  section.hero .content .img .play {
    background: url("../images/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    padding: 0;
    position: absolute;
    left: 35%;
    margin-top: 10%;
  }
  section.hero .chat {
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
    bottom: 5%;
    height: 2em;
    width: 2em;
  }
}

@media screen and (min-width: 770px) {
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*.content {
            margin: 0 10%;
            padding-top: 20px;
            padding-bottom: 0;
            margin-bottom: 0;
            img {              
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.411);
            }
            .img {
                padding-bottom: 15px;
                .play {
                    background: url('../images/play.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 100px;
                    width: 100px;
                    padding: 0;
                    position: absolute;
                    left: 35%;
                    margin-top: 10%;
                }
            }
        }*/
  }
  section.hero .hero-content {
    margin: 15% 5%;
    margin-left: 10%;
    text-align: center;
  }
  section.hero .hero-content h1 {
    font-family: inherit;
    font-weight: 400;
    font-size: 250%;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5em;
    margin-bottom: .5em;
    letter-spacing: 5px;
    color: white;
  }
  section.hero .hero-content h1 br {
    display: none;
  }
  section.hero .hero-content p {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1.5em;
    word-spacing: .1em;
    width: 20em;
    margin-bottom: 2em;
    color: white;
    text-align: center;
  }
  section.hero .hero-content .gs-btn {
    background-position: center;
    background-image: url(../images/gs_btn.svg);
    height: 2.5em;
    width: 10em;
    border-color: rgba(245, 222, 179, 0);
    border-radius: 25px;
    color: white;
    padding: 7px;
    text-transform: none;
    margin-right: 15px;
    font-weight: 400;
    font-size: 12x;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  section.hero .date {
    color: white;
    position: absolute;
    top: 23.5%;
    left: 16.5%;
  }
  section.hero .side-line1 {
    width: 15%;
    border: 1px solid #ffffff;
    background-color: white;
    color: white;
    position: absolute;
    top: 24.5%;
  }
  section.hero .content {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    z-index: 20;
  }
  section.hero .img {
    position: absolute;
    top: 10%;
    font-size: 90px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80%;
    width: calc(100% / 3);
    width: 100%;
  }
  section.hero .img img {
    padding-right: .25em;
    height: 80%;
  }
  section.hero .img .start {
    padding-right: 600px;
    height: 500px;
  }
  section.hero .img .play {
    background: url("../images/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 32.5%;
    margin-top: 10%;
  }
  section.hero .content-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  section.hero .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../images/chat-white.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
    bottom: 2%;
    height: 5.1em;
    width: 5.3em;
    z-index: 1;
  }
  section.hero .hr {
    width: 10%;
    /*border-width: .5px;
            border-color: #ffffff;*/
    border: 2px solid #ffffff;
    position: absolute;
    bottom: 10.5%;
    right: 0%;
  }
  section.hero .top {
    background-image: url("../images/top.svg");
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    position: absolute;
    left: 40%;
    top: 10%;
    z-index: -1;
    overflow: hidden;
  }
  section.hero .left {
    background-image: url("../images/left.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -5%;
    top: 50%;
    z-index: -1;
    overflow: hidden;
  }
  section.hero .bottom {
    background-image: url("../images/bottom.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -70%;
    left: 25%;
    z-index: -1;
    overflow: hidden;
  }
  section.hero .right {
    background-image: url("../images/right.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    right: -55%;
    top: -40%;
    z-index: -1;
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */