@font-face {
  font-family: 'Raiderfont';
  src: local("Raiderfont"), url("./fonts/Raiderfont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 12px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

.left, .right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 769px) {
  .left {
    background: #2d75c8;
    background: linear-gradient(45deg, #2d75c8 28%, #033eb9 90%);
    left: 0%;
    width: 0%;
  }
  .right {
    display: none;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding: 0 20px;
  }
  .nav ul li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
    padding: 0 30px;
  }
  .nav .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px;
    letter-spacing: 0;
  }
  .nav .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px;
  }
}

section.mobile {
  display: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  border-left: 1px solid #27137e;
  -webkit-box-shadow: -200px 5px 100px #27137e;
          box-shadow: -200px 5px 100px #27137e;
  z-index: 20;
  background-color: #27137e;
}

section.mobile .menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}

section.mobile ul {
  margin: 0;
  padding: 50px 0;
  list-style: none;
  max-width: 10000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

section.mobile ul li {
  font-size: 25px;
  text-align: center;
  line-height: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  max-width: 10000px;
  padding: 20px 25px;
  border-width: 0.0225px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.322);
}

section.mobile .toggle {
  position: absolute;
  top: 7.5%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.5em;
  width: 2.5em;
  background-image: url("../images/x.svg");
  cursor: pointer;
}

section.mobile .button {
  background-image: url("../images/signup.svg");
  background-position: center;
  height: 2.5em;
  width: 150px;
  border-color: rgba(245, 222, 179, 0);
  border-radius: 25px;
  color: white;
  padding: 17px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 769px) {
  .mobile-top {
    /*background-image: url("../images/mobile-top.svg");*/
    margin: 0;
    padding: 0;
    height: 20em;
    width: 40em;
    position: fixed;
    top: -20%;
    left: -20%;
  }
  .nav {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .left {
    background: #2d75c8;
    background: linear-gradient(45deg, #2d75c8 28%, #033eb9 90%);
    left: 0%;
    width: 0%;
  }
  .right {
    background: #191919;
    right: 0%;
    width: 100%;
  }
}

@media screen and (min-width: 770px) and (max-width: 769px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
    margin: 0 5%;
    font-weight: 600;
    display: none;
  }
  header .logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    height: 4em;
    width: 8em;
    float: left;
    margin-top: 10px;
  }
  header li {
    display: inline-block;
    list-style: none;
  }
}

@media screen and (min-width: 770px) {
  header nav {
    display: none;
  }
}

@media screen and (min-width: 770px) and (min-width: 770px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
  header div {
    max-width: 50%;
  }
  header .left-nav {
    display: inline;
    list-style: none;
  }
  header .left-nav .logo {
    background: url("../img/Adam-Logo.png");
    background-repeat: no-repeat;
    height: 5em;
    width: 10em;
    float: left;
    margin-top: 1%;
  }
}

@media screen and (min-width: 770px) and (min-width: 770px) {
  nav {
    color: #ffffff;
    position: absolute;
    top: 0%;
    right: -5%;
  }
  nav #menu {
    background: url("../img/Adams menu.png");
    height: 2em;
    width: 2em;
    position: absolute;
    top: 10%;
    right: 45%;
  }
  nav ul {
    margin-top: 100%;
    padding: 0;
    list-style: none;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul .active {
    border-bottom: .0002px solid blue;
  }
  nav .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10% 32%;
    position: absolute;
    bottom: -80%;
    right: 12.5%;
  }
  nav .social div {
    height: 2em;
    width: 2.5em;
    background-repeat: no-repeat;
  }
  nav .social .twitter {
    background: url("../img/twitter.svg");
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 5px;
  }
  nav .social .facebook {
    background: url("../img/facebook.svg");
    background-repeat: no-repeat;
  }
  nav .social .instagram {
    background: url("../img/instagram.svg");
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 770px) and (max-width: 769px) {
  nav {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  /* .img-wrapper {
        position: absolute;
        bottom: 0;
        left: 180px;
    
        .karina {
        background-image: url('./img/model-2.jpg');
        background-size: cover;
        height: 550px;
        width: 0;
        }
    }
    
    .info {
        position: absolute;
        bottom: 0;
        left: 180px;
        background: rgba(0, 0, 0, 0.8);
        padding: 0 10px;
    
        ul li {
        display: inline-block;
        padding: 20px 25px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 8px;
        font-weight: 600;
        }
    
        i {
        font-size: 18px;
        }
    }
    
    .text {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
    
        h1 {
        font-size: 90px;
        color: #fff;
        font-family: 'Raiderfont';
        text-transform: uppercase;
        }
    
        p {
        font-size: 20px;
        color: #fff;
        font-family: monospace;
        }
    }
    
    .name {
        position: absolute;
        top: 50%;
        left: -270px;
        transform: translateY(-50%);
        font-size: 90px;
        font-family: 'Raiderfont';
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
    }
    
    .bottomnav {
        position: absolute;
        bottom: 100px;
        right: 100px;
    
        ul li {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 15px;
        margin-top: 20px;
    
        &:nth-child(2) {
            font-weight: bolder;
    
            &::before {
            content: "";
            display: inline-block;
            border: 1px solid #fff;
            width: 65px;
            margin: 0 10px 0 -78px;
            transform: translateY(-3px);
            }
        }
        }
    } */
  .content {
    position: absolute;
    top: 0;
    right: 25%;
  }
  .content img {
    -webkit-box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.411);
            box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.411);
    height: 90%;
    width: auto;
  }
  .content .img {
    padding-bottom: .25em;
  }
  .content .img .play {
    background: url("../img/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0%;
  }
}
/*# sourceMappingURL=style.css.map */